/*base*/
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14.05px;
  color: #212121;
  box-sizing: border-box;
}

/*componets/navbar*/
.navbar1 {
  background-color: #ff6961;
  border-radius: 2em;
  border: 2px solid #212121;
}

/*componets/carrusel*/
@media screen and (max-width: 490px) {
  .carrusel {
    margin-left: 0.1em;
  }
}
.border-carrusel {
  background-color: #77dd77;
  border: 2px solid #212121;
  border-radius: 2em;
  padding: 3em;
}

.beneficios-container {
  width: 80%;
  margin-left: 8em;
  padding-top: 1.5em;
}
.beneficios-container .beneficios {
  width: 100%;
  background-color: #EDEDED;
  border-radius: 2em;
  border: 2px solid #212121;
}
/*componets/cachorros*/
@media screen and (max-width: 490px) {
  .h2-container {
    display: none !important;
  }

  .cachorros {
    display: none !important;
  }
}
.h2-container {
  display: flex;
  justify-content: center;
  flex-direction: none;
  margin-top: 1.5em;
}
.h2-container .h2 {
  padding: 0.5em;
}

.cachorros {
  background-color: #fdfd96;
  padding: 3em 3em 3em 3em;
  border-radius: 2em;
  border: 2px solid #212121;
}
.cachorros .carta1:hover {
  border: #77dd77 0.2em solid;
}

/*componets/masvendido*/
@media screen and (max-width: 490px) {
  .mobile-template {
    display: flex;
  }
  .mobile-template .beneficios-container {
    width: 20%;
    margin-top: 4em;
    margin-left: 3em !important;
  }
  .mobile-template .beneficios-container .beneficios {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .mobile-template .cachorros-container {
    display: none !important;
  }
  .mobile-template .productos-seccion {
    width: 80%;
  }
  .mobile-template .productos-seccion .productos {
    width: 100%;
    background-color: #84b6f4;
    padding: 3em 3em 3em 3em;
    border-radius: 2em;
  }
  .mobile-template .productos-seccion .productos .contenido {
    width: 100%;
    display: flex;
    margin-bottom: 0.5em;
  }
  .mobile-template .productos-seccion .productos .contenido ul li {
    list-style: none;
  }
  .mobile-template .productos-seccion .productos .produ-flex {
    display: flex;
    flex-direction: row;
  }
  .mobile-template .productos-seccion .productos .img {
    width: 5em;
    height: 5em;
  }
}
.h2-container-promo {
  display: flex;
  justify-content: center;
  flex-direction: none;
}

.productos {
  background-color: #84b6f4;
  padding: 3em 3em 3em 3em;
  border-radius: 2em;
  border: 2px solid #212121;
}
.productos .contenido {
  display: flex;
}
.productos .contenido ul li {
  list-style: none;
}
.productos .carta1:hover {
  border: #77dd77 0.2em solid;
}

.img {
  width: 10em;
  height: 10em;
}

/*componets/footer*/
/*footer*/
footer {
  min-height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: none;
  margin-bottom: 2em;
  background-color: #fdcae1;
  border-radius: 2em;
  border: 2px solid #212121;
  padding-top: 1em;
}
footer .redes {
  display: flex;
  justify-content: space-around;
  flex-direction: none;
}
footer .Copyright {
  display: flex;
  justify-content: center;
  flex-direction: none;
  margin-top: 3em;
  margin-bottom: 0%;
  margin-left: 7em;
}
footer .bot {
  display: flex;
  justify-content: flex-end;
  flex-direction: none;
  margin-right: 6em;
}

/*componets/nosotros*/
.titulo-container {
  background-color: #EDEDED;
  border: 2px solid #212121;
  opacity: 0.8;
  border-radius: 2em;
  margin-top: 1.5em;
}

.titulo {
  margin-top: 0.2em;
  border-radius: 2em;
}

.historia-container {
  background-color: #77dd77;
  border: 2px solid #212121;
  opacity: 0.8;
  border-radius: 2em;
  padding: 0.7em;
}

.historia {
  margin-top: 0.2em;
  border-radius: 2em;
}

.img-historia {
  width: 50%;
  border-radius: 2em;
}

.texto-historia {
  margin-top: 1em;
}

.txt-como-somos {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.como-somos-container {
  background-color: #fdfd96;
  border: 2px solid #212121;
  opacity: 0.8;
  border-radius: 2em;
}

.nuestro-objetivo-container {
  padding: 3em;
  background-color: #fdcae1;
  border: 2px solid #212121;
  opacity: 0.8;
  border-radius: 2em;
}

.Contenido-valor {
  background-color: #84b6f4;
  border: 2px solid #212121;
  opacity: 0.8;
  border-radius: 2em;
  border-bottom: solid 2px;
}

.img-familia {
  width: 90%;
  border-radius: 2em;
  margin-left: 0.7em;
}

.contenido-valor {
  padding-bottom: 2em;
  border-bottom: solid 2px;
}

/*componets/contacto*/
/* estilos del formulario*/
.contacto {
  margin-top: 3em;
}
.contacto .form-container {
  display: grid;
  grid-template-areas: "form-h1-container form-h1-container form-h1-container form-h1-container" "text-area-container text-area-container text-area-container text-area-container" "datos-container datos-container datos-container datos-container" "btn-container btn-container btn-container btn-container";
  grid-template-rows: 5em 10em 5em 5em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 2.5em;
  flex-wrap: wrap;
}
.contacto .form-container .form-h1-container {
  grid-area: form-h1-container;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: none;
  border-radius: 2em;
  background-color: #EDEDED;
  border: 2px solid #212121;
  opacity: 0.8;
  flex-wrap: wrap;
}
.contacto .form-container .text-area-container {
  grid-area: text-area-container;
  display: flex;
  justify-content: center;
  flex-direction: none;
  width: 60%;
  background: #77dd77;
  border: 2px solid #212121;
  opacity: 0.8;
  border-radius: 2em;
  flex-wrap: wrap;
}
.contacto .form-container .text-area-container .text-area {
  width: 60%;
}
.contacto .form-container .text-area-container .text-area .titulo1 {
  display: flex;
  justify-content: center;
  flex-direction: none;
}
.contacto .form-container .text-area-container .text-area .txt {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: none;
}
.contacto .form-container .text-area-container .text-area .txt textarea {
  width: 100%;
  min-height: 6em;
  resize: none;
  border-radius: 0.5em;
  flex-wrap: wrap;
}
.contacto .form-container .datos-container {
  grid-area: datos-container;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: none;
  border-radius: 2em;
  background-color: #ff6961;
  border: 2px solid #212121;
  opacity: 0.8;
}
.contacto .form-container .datos-container .datos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: none;
}
.contacto .form-container .datos-container .datos .datos-form {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: none;
  padding: 1.6em;
  flex-wrap: wrap;
}
.contacto .form-container .btn-container {
  grid-area: btn-container;
  width: 15%;
  border-radius: 1em;
  background-color: #fdfd96;
  border: 2px solid #212121;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  flex-direction: none;
}
.contacto .form-container .btn-container .btm1 {
  margin-top: 1.5em;
}

.espacio, .Perro-container, .titulo-tienda-container, .carrusel, .beneficios-container .beneficios .icono-bene, .h2-container-promo, footer, .Contenido-valor, .contacto .form-container {
  margin-top: 3em;
}

body {
  background-image: url(/src/Multimedia/Images/background.png);
  overflow-x: hidden;
}

.titulo-tienda-container {
  width: 80%;
  background-color: #EDEDED;
  border-radius: 2em;
  border: 2px solid #212121;
}
.titulo-tienda-container .titulo-tienda {
  display: flex;
  justify-content: center;
  flex-direction: none;
}

.Perro-container {
  display: flex;
  justify-content: center;
  flex-direction: none;
  background-color: #fdfd96;
  padding: 2em;
  border: 2px solid #212121;
  border-radius: 2em;
}

.Gato-container {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  flex-direction: none;
  background-color: #77dd77;
  padding: 2em;
  border: 2px solid #212121;
  border-radius: 2em;
}

.banner-perro {
  background-color: #fdfd96;
  border-radius: 2em;
  border: 2px solid #212121;
  text-align: center;
  margin-top: 2em;
  padding: 2em;
}

.accesorios {
  display: flex;
  justify-content: center;
  flex-direction: none;
}
.accesorios .titulo-accesorios {
  width: 50%;
  background-color: #EDEDED;
  border-radius: 2em;
  border: 2px solid #212121;
  text-align: center;
  margin-top: 1em;
}

.productosp-container {
  display: flex;
  justify-content: center;
  flex-direction: none;
  padding-top: 2em;
}

.sidebar {
  background-color: #77dd77;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 20%;
  margin-left: 2em;
  padding-top: 1em;
  border-radius: 2em;
  border: 2px solid #212121;
}
.sidebar .menu {
  margin-left: 1.5em;
}
.sidebar .articulos {
  margin-top: 1em;
  margin-left: 0.7em;
}

.productosP {
  width: 70%;
  margin-left: 2em;
}
.productosP .productos-tienda {
  display: flex;
  justify-content: space-between;
  flex-direction: none;
}

.font-text {
  font-size: 0.6em;
}

.decoration {
  text-decoration: none;
  color: #212121;
}

/*# sourceMappingURL=style.css.map */
