/*base*/
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #212121;
  box-sizing: border-box;
}

/*componets/navbar*/
/* estilos navbar*/
.navbar1 {
  background-color: #ff6961;
  border-radius: 2em;
  border: 2px solid #212121;
}

.carrito--logo--style {
  display: flex;
  /*Fin estilos navbar*/
}
.carrito--logo--style .contador--carrito--style {
  display: flex;
  font-size: 1.5em;
}

/*componets/carrusel*/
/*estilos seccion carrusel*/
/*queries seccion carrusel*/
@media screen and (max-width: 490px) {
  .carrusel {
    padding: 1em;
    margin-left: 0.1em;
  }
}
/*fin queries seccion carrusel*/
.border-carrusel {
  background-color: #77dd77;
  border: 2px solid #212121;
  border-radius: 2em;
  padding: 2em;
}

/*estilos seccion carrusel*/
/*estilos seccion menu de beneficios*/
.beneficios-container {
  width: 100%;
  margin-left: 8em;
  padding-top: 1.5em;
}
.beneficios-container .beneficios {
  display: flex;
  justify-content: space-between;
  flex-direction: none;
  width: 80%;
  background-color: #EDEDED;
  border-radius: 2em;
  border: 2px solid #212121;
}
.beneficios-container .beneficios .icono-bene {
  text-align: center;
  margin-top: 0.5em;
}
.beneficios-container .beneficios .txt-beneficios {
  margin-bottom: 0;
}

/*fin estilos seccion menu de beneficios*/
/*componets/cachorros*/
/*estilos seccion cachorros*/
/*queries seccion cachorros*/
@media screen and (max-width: 490px) {
  .h2-container {
    display: none !important;
  }

  .cachorros {
    display: none !important;
  }
}
/*fin queries seccion cachorros*/
.h2-container {
  display: flex;
  justify-content: center;
  flex-direction: none;
  margin-top: 1.5em;
}
.h2-container .h2 {
  width: 45%;
  margin-top: 0.5em;
  background-color: #EDEDED;
  border-radius: 2em;
  border: 2px solid #212121;
  display: flex;
  justify-content: center;
  flex-direction: none;
  padding: 0.5em;
}

.frase__container {
  width: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-direction: none;
}

.frase {
  width: 80%;
  background-color: #fdfd96;
  padding: 1em 1em 0 1em;
  border-radius: 2em;
  border: 2px solid #212121;
  text-align: center;
}
.frase h2 {
  margin-top: 0.3em;
}

/*fin estilos seccion cachorros*/
/*componets/masvendido*/
/* estilos seccion mas vendido*/
/* Queries seccion mas bendido*/
@media screen and (max-width: 490px) {
  .mobile-template {
    display: flex;
  }
  .mobile-template .beneficios-container {
    width: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 4em;
    margin-left: 0 !important;
  }
  .mobile-template .beneficios-container .beneficios {
    width: 100%;
    height: 60%;
    margin-top: 15em;
  }
  .mobile-template .cachorros-container {
    display: none !important;
  }
  .mobile-template .productos-seccion {
    width: 75%;
  }
  .mobile-template .productos-seccion .productos1 {
    width: 100%;
    background-color: #84b6f4;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
/*Fin Queries seccion mas bendido*/
.h2-container-promo {
  display: flex;
  justify-content: center;
  flex-direction: none;
}

.productos1 {
  margin-top: 2em;
  background-color: #84b6f4;
  padding: 3em 3em 3em 3em;
  border-radius: 2em;
  border: 2px solid #212121;
  display: flex;
  justify-content: space-between;
  flex-direction: none;
}

.carta2:hover {
  border: #77dd77 0.2em solid;
  box-shadow: 0 8px 12px 0 rgb(21, 21, 21);
}

.boton1 {
  width: 5em;
  background-color: #84b6f4;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgb(21, 21, 21);
}
.boton1:hover {
  background-color: #9ec6f8;
}

/*Fin estilos seccion mas vendido*/
/*componets/footer*/
/*estilos seccion footer*/
footer {
  min-height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: none;
  margin-bottom: 2em;
  background-color: #fdcae1;
  border-radius: 2em;
  border: 2px solid #212121;
  padding-top: 1em;
}
footer .redes {
  display: flex;
  justify-content: space-around;
  flex-direction: none;
}
footer .Copyright {
  display: flex;
  justify-content: center;
  flex-direction: none;
  margin-top: 3em;
  margin-bottom: 0%;
  margin-left: 7em;
}
footer .bot {
  display: flex;
  justify-content: flex-end;
  flex-direction: none;
  margin-right: 6em;
}

/*fin estilos seccion footer*/
/*componets/nosotros*/
/* estilos Seccion nosotros*/
.titulo-container {
  background-color: #EDEDED;
  border: 2px solid #212121;
  opacity: 0.8;
  border-radius: 2em;
  margin-top: 1.5em;
}

.titulo {
  margin-top: 0.2em;
  border-radius: 2em;
}

.historia-container {
  background-color: #77dd77;
  border: 2px solid #212121;
  opacity: 0.8;
  border-radius: 2em;
  padding: 0.7em;
}

.historia {
  margin-top: 0.2em;
  border-radius: 2em;
}

.img-historia {
  width: 50%;
  border-radius: 2em;
}

.texto-historia {
  margin-top: 1em;
}

.txt-como-somos {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.como-somos-container {
  background-color: #fdfd96;
  border: 2px solid #212121;
  opacity: 0.8;
  border-radius: 2em;
}

.nuestro-objetivo-container {
  padding: 3em;
  background-color: #fdcae1;
  border: 2px solid #212121;
  opacity: 0.8;
  border-radius: 2em;
}

.Contenido-valor {
  background-color: #84b6f4;
  border: 2px solid #212121;
  opacity: 0.8;
  border-radius: 2em;
  border-bottom: solid 2px;
}

.img-familia {
  width: 90%;
  border-radius: 2em;
  margin-left: 0.7em;
}

.contenido-valor {
  padding-bottom: 2em;
  border-bottom: solid 2px;
}

/*fin estilos Seccion nosotros*/
/*componets/contacto*/
/* estilos del formulario de contacto*/
/* Queries del formulario de contacto*/
@media screen and (max-width: 490px) {
  .form-h1-container {
    width: 80% !important;
  }
  .form-h1-container .form-h1 {
    font-weight: 700;
    font-size: 1.4em;
    font-family: sans-serif;
  }

  .text-area-container {
    width: 90% !important;
  }
  .text-area-container .text-area {
    width: 80% !important;
  }
  .text-area-container .text-area .titulo1 {
    margin-top: 0.5em;
    font-weight: 700;
    font-size: 1.2em;
    font-family: sans-serif;
  }

  .datos-container {
    width: 100% !important;
  }

  .datos-form {
    display: flex;
    flex-direction: column;
  }
  .datos-form .form-name,
.datos-form .form-email {
    width: 11em;
    display: flex;
    justify-content: space-around;
    flex-direction: none;
    flex-direction: column;
    text-align: center;
  }

  .btn-container {
    width: 25% !important;
  }
}
/*Fin Queries del formulario de contacto*/
.contacto {
  margin-top: 3em;
}
.contacto .form-container {
  display: grid;
  grid-template-areas: "form-h1-container form-h1-container form-h1-container form-h1-container" "text-area-container text-area-container text-area-container text-area-container" "datos-container datos-container datos-container datos-container" "btn-container btn-container btn-container btn-container";
  grid-template-rows: 5em 10em 5em 5em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 2.5em;
  flex-wrap: wrap;
}
.contacto .form-container .form-h1-container {
  grid-area: form-h1-container;
  width: 53%;
  display: flex;
  justify-content: center;
  flex-direction: none;
  border-radius: 2em;
  background-color: #EDEDED;
  border: 2px solid #212121;
  opacity: 0.8;
  flex-wrap: wrap;
  align-items: center;
}
.contacto .form-container .form-name input[type=nombre],
.contacto .form-container .form-email input[type=email] {
  border-radius: 0.3em;
  border: none;
  padding: 0.2em;
  box-shadow: 0 8px 12px 0 rgb(21, 21, 21);
}
.contacto .form-container .text-area-container {
  grid-area: text-area-container;
  display: flex;
  justify-content: center;
  flex-direction: none;
  width: 60%;
  background: #77dd77;
  border: 2px solid #212121;
  opacity: 0.8;
  border-radius: 2em;
  flex-wrap: wrap;
}
.contacto .form-container .text-area-container .text-area {
  width: 60%;
}
.contacto .form-container .text-area-container .text-area .titulo1 {
  display: flex;
  justify-content: center;
  flex-direction: none;
}
.contacto .form-container .text-area-container .text-area .txt {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: none;
}
.contacto .form-container .text-area-container .text-area .txt textarea {
  width: 100%;
  min-height: 6em;
  resize: none;
  border-radius: 0.5em;
  flex-wrap: wrap;
  box-shadow: 0 8px 12px 0 rgb(21, 21, 21);
}
.contacto .form-container .datos-container {
  grid-area: datos-container;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: none;
  border-radius: 2em;
  background-color: #ff6961;
  border: 2px solid #212121;
  opacity: 0.8;
}
.contacto .form-container .datos-container .datos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: none;
}
.contacto .form-container .datos-container .datos .datos-form {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: none;
  padding: 1.6em;
  flex-wrap: wrap;
}
.contacto .form-container .btn-container {
  grid-area: btn-container;
  width: 15%;
  border-radius: 1em;
  background-color: #fdfd96;
  border: 2px solid #212121;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  flex-direction: none;
}
.contacto .form-container .btn-container .btn5 {
  cursor: pointer;
  margin-top: 1em;
  background-color: #ff6961;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgb(21, 21, 21);
}
.contacto .form-container .btn-container .btn5:hover {
  background-color: #fc766f;
}

/*Fin estilos del formulario de contacto*/
.Totales--style, .carrito__container--style, .titulo__carrito--container, .card-container, .espacio, .Perro-container, .titulo-tienda-container, .carrusel, .h2-container-promo, footer, .Contenido-valor, .contacto .form-container {
  margin-top: 3em;
}

/*estilos body*/
body {
  background-image: url(/src/Multimedia/Images/background.png);
  overflow-x: hidden;
}

/*fin estilos body*/
/* estilos seccion Tienda*/
.titulo-tienda-container {
  width: 80%;
  background-color: #EDEDED;
  border-radius: 2em;
  border: 2px solid #212121;
}
.titulo-tienda-container .titulo-tienda {
  display: flex;
  justify-content: center;
  flex-direction: none;
}

.Perro-container {
  display: flex;
  justify-content: center;
  flex-direction: none;
  background-color: #fdfd96;
  padding: 2em;
  border: 2px solid #212121;
  border-radius: 2em;
}

.Gato-container {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  flex-direction: none;
  background-color: #77dd77;
  padding: 2em;
  border: 2px solid #212121;
  border-radius: 2em;
}

/*Fin estilos seccion Tienda*/
/*estilos de las secciones de la tienda*/
/*queries de la tienda*/
@media screen and (max-width: 490px) {
  .sidebar {
    width: 20% !important;
    margin-left: 8em !important;
  }

  .Productos-mobile {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    flex-direction: none;
    padding: 0em;
    flex-direction: column;
    margin-right: 0;
  }
  .Productos-mobile .productosP {
    display: flex;
    justify-content: flex-start;
    flex-direction: none;
    width: 60% !important;
    margin: 0;
  }
  .Productos-mobile .productos-tienda {
    display: flex;
    justify-content: flex-end;
    flex-direction: none;
    width: 60% !important;
    margin-left: 0.5em;
    margin-right: 0;
    margin-top: 0;
  }
}
/*fin queries de la tienda*/
.banner-perro {
  background-color: #fdfd96;
  border-radius: 2em;
  border: 2px solid #212121;
  text-align: center;
  margin-top: 2em;
  padding: 2em;
}

.accesorios {
  display: flex;
  justify-content: center;
  flex-direction: none;
}
.accesorios .titulo-accesorios {
  width: 50%;
  background-color: #EDEDED;
  border-radius: 2em;
  border: 2px solid #212121;
  text-align: center;
  margin-top: 1em;
}

.productosp-container {
  display: flex;
  justify-content: center;
  flex-direction: none;
  padding-top: 2em;
}

.sidebar {
  z-index: 1000;
  position: sticky;
  top: 5em;
  background-color: #EDEDED;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 10%;
  height: 15em;
  margin-left: 2em;
  padding-top: 1em;
  border-radius: 2em;
  border: 2px solid #212121;
  text-align: center;
  padding-bottom: 1.5em;
}
.sidebar .boton-sidebar {
  border: 0.5px #fdfd96 solid;
}
.sidebar .boton-sidebar .boton {
  background-color: #77dd77;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgb(21, 21, 21);
}
.sidebar .boton-sidebar .boton:hover {
  background-color: #49e049;
}
.sidebar .dd-menu {
  background-color: #77dd77;
}
.sidebar .dd-menu .dd-li-menu {
  list-style: none;
  z-index: 10;
}
.sidebar .dd-menu .dd-li-menu .dd-a-menu {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.sidebar .dd-menu .dd-li-menu .dd-a-menu:hover {
  background-color: #49e049;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgb(21, 21, 21);
}
.sidebar .menu {
  margin-left: 1.5em;
}
.sidebar .articulos {
  margin-top: 1em;
  margin-left: 0.7em;
}

.Productos-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: none;
}

.productosP {
  width: 100%;
  margin-left: 2em;
  z-index: 0;
  margin-right: 2.5em;
  display: flex;
  gap: 1em;
}
.productosP .productos-tienda {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: none;
}

.font-text {
  font-size: 0.6em;
}

.decoration {
  text-decoration: none;
  color: #212121;
}

.carta1 {
  width: 14rem;
  border-radius: 0.5em;
  background-color: #ff6961;
  padding-top: 1em;
  margin-top: 2em;
}
.carta1:hover {
  border: #ededed 0.1em solid;
  box-shadow: 0 10px 14px 0 rgb(21, 21, 21);
}

/*fin estilos de las secciones de la tienda*/
/*estilos seccion blog*/
/*queries seccion blog*/
@media screen and (max-width: 490px) {
  .titulo-blog {
    width: 60% !important;
    display: flex;
    justify-content: center;
    flex-direction: none;
  }
  .titulo-blog .titulo {
    width: 100%;
    text-align: center;
  }

  .blog {
    width: 95%;
  }
  .blog .principal {
    width: 70%;
    height: 150px;
  }

  #global {
    height: 150px;
    width: 100%;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
  }
}
/*fin queries seccion blog*/
.titulo-blog {
  width: 35%;
  margin-top: 2em;
  background-color: #EDEDED;
  border-radius: 2em;
  border: 2px solid #212121;
  display: flex;
  justify-content: center;
  flex-direction: none;
}

.blog {
  display: flex;
  justify-content: center;
  flex-direction: none;
  background-color: #ff6961;
  margin-top: 2em;
  padding: 2em;
  border-radius: 2em;
  border: 2px solid #212121;
}
.blog .principal {
  height: 300px;
}

#global {
  height: 300px;
  width: 50%;
  border: 1px solid #ddd;
  background: #f1f1f1;
  overflow-y: scroll;
}

#mensajes {
  width: 100%;
}

.texto {
  padding: 4px;
  background: #fff;
}

/*fin estilos seccion blog*/
/* estilos de formularios tomados de freefrondend*/
a {
  cursor: pointer;
  transition: all 200ms linear;
}

a:hover {
  text-decoration: none;
}

.link {
  color: #212121;
}

.link:hover {
  color: #ffeba7;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}

h4 {
  font-weight: 600;
}

h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.full-height {
  min-height: 100vh;
}

[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #212121;
  background-color: #84b6f4;
  font-family: "unicons";
  content: "\eb4f";
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #ff6961;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #212121;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #212121;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
  color: #212121;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input::-moz-placeholder {
  color: #212121;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-moz-placeholder {
  color: #212121;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input::-webkit-input-placeholder {
  color: #212121;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.btn3 {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #fdfd96;
  color: #212121;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}

.btn3:active,
.btn3:focus {
  background-color: #77dd77;
  color: #212121;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.btn3:hover {
  background-color: #77dd77;
  color: #212121;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

.logo img {
  height: 26px;
  width: auto;
  display: block;
}

/*fin estilos de formularios tomados de freefrondend*/
.div-titulo {
  display: flex;
  justify-content: center;
  flex-direction: none;
}
.div-titulo .titulo-carga {
  width: 40%;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: none;
}

.titulo__carrito--container {
  width: 40%;
  background-color: #EDEDED;
  border-radius: 2em;
  border: 2px solid #212121;
}
.titulo__carrito--container .titulo__carrito {
  display: flex;
  justify-content: center;
  flex-direction: none;
}

.carrito__container--style {
  display: flex;
  justify-content: space-around;
  flex-direction: none;
}

.Totales--style {
  padding: 0.5em;
  display: flex;
  justify-content: space-around;
  flex-direction: none;
  background-color: #fdfd96;
  border-radius: 2em;
  border: 2px solid #212121;
  align-items: center;
}
.Totales--style p {
  margin-top: 0.8em;
  font-size: 16px;
}

.contenedor__btn2--style {
  display: flex;
  justify-content: space-between;
  flex-direction: none;
}
.contenedor__btn2--style .boton2 {
  width: 1.3em;
  height: 1.8em;
  background-color: #fdfd96;
  border-radius: 0.4em;
  box-shadow: 0 2px 4px 1px rgb(21, 21, 21);
  font-size: 1em;
  text-align: center;
}
.contenedor__btn2--style .boton2:hover {
  background-color: rgba(243, 253, 150, 0.768627451);
}
.contenedor__btn2--style .boton2:active {
  font-size: 0.9em;
}

.cantidad--producto {
  padding: 0.5em;
}

.contenedor__eliminar--style {
  display: flex;
  justify-content: space-between;
  flex-direction: none;
}

.btn__eliminar--style {
  width: 40%;
  font-size: 0.6em;
}

/*# sourceMappingURL=style.css.map */
