.banner-perro{
    background-color: #fdfd96;
    border-radius: map-get($borders-standard, borders-radious);
    border: map-get($borders-standard,borders);
    text-align: center;
    margin-top: 2em;
    padding: 2em;
}
.accesorios{
    @include Flexbox(flex,center,none);
    .titulo-accesorios{
        width: 50%;
        background-color: #EDEDED;
        border-radius: map-get($borders-standard, borders-radious);
        border: map-get($borders-standard,borders);
        text-align: center;
        margin-top: 1em;
        
    }
}
.productosp-container{
    @include Flexbox(flex,center,none);
    @include paddintop(2em);
}
    .sidebar{
        background-color: #77dd77;
        @include Flexbox(flex,space-around,column);
        width: 20%;
        margin-left: 2em;
        @include paddintop(1em);
        border-radius: map-get($borders-standard, borders-radious );
        border: map-get($borders-standard,borders);
        

        .menu{
            margin-left: 1.5em;
            
        }

        .articulos{
            margin-top: 1em;
            margin-left: 0.7em;
        }
    }
    .productosP{
        width: 70%;
        margin-left: 2em;
        
        .productos-tienda{
            @include Flexbox(flex,space-between,none);
        }
    }
    .espacio{
        @extend %espacio;
    }
    .card-hover{
        
    }
    .font-text{
        font-size: 0.6em;
    }
    .decoration{
        text-decoration: none;
        color: #212121;
    }