
.banner-perro{
    background-color: #fdfd96;
    border-radius: map-get($borders-standard, borders-radious);
    border: map-get($borders-standard,borders);
    text-align: center;
    margin-top: 2em;
    padding: 2em;
}
.accesorios{
    @include Flexbox(flex,center,none);
    .titulo-accesorios{
        width: 50%;
        background-color: #EDEDED;
        border-radius: map-get($borders-standard, borders-radious);
        border: map-get($borders-standard,borders);
        text-align: center;
        margin-top: 1em;
        
    }
}
.productosp-container{
    @include Flexbox(flex,center,none);
    @include paddintop(2em);
}
    .sidebar{
        z-index: 1000;
        position: sticky;
        top: 5em;
        background-color: #EDEDED;
        @include Flexbox(flex,space-between,column);
        width: 10%;
        height: 15em;
        margin-left: 2em;
        @include paddintop(1em);
        border-radius: map-get($borders-standard, borders-radious );
        border: map-get($borders-standard,borders);
        text-align: center;
        padding-bottom: 1.5em;
        
        .boton-sidebar{
            border: 0.5px #fdfd96 solid ;
            
            .boton{
                background-color: #77dd77;
                border-radius: 0.5em;
                box-shadow: 0 4px 8px 0 rgb(21 21 21);
                &:hover{
                    background-color:#49e049;
                }
            }
        }
        .dd-menu{
            background-color:#77dd77;
            .dd-li-menu{
                list-style: none;
                z-index: 10;
                .dd-a-menu{   
                    display: block;
                    width: 100%;
                    padding: 0.25rem 1rem;
                    clear: both;
                    font-weight: 400;
                    color: #212529;
                    text-align: inherit;
                    text-decoration: none;
                    white-space: nowrap;
                    background-color: transparent;
                    border: 0;
                    &:hover{
                        background-color:#49e049;
                        border-radius: 0.5em;
                        box-shadow: 0 4px 8px 0 rgb(21 21 21)
                    }
                }
            }
        }   
        .menu{
            margin-left: 1.5em;
            
        }

        .articulos{
            margin-top: 1em;
            margin-left: 0.7em;
        }
    }
    .productosP{
        width: 70%;
        margin-left: 2em;
        z-index: 0;
        
        .productos-tienda{
            @include Flexbox(flex,space-between,none);
        }
    }
    .espacio{
        @extend %espacio;
    }
    .font-text{
        font-size: 0.6em;
        

    }
    .decoration{
        text-decoration: none;
        color: #212121;
    }
    .carta1{
        border-radius: 0.5em;
        background-color: #ff6961;
        padding-top: 1em;
        &:hover{
            border: #ededed 0.1em solid;
            box-shadow: 0 10px 14px 0 rgb(21 21 21)
        } 
    }