/*estilos seccion blog*/
    /*queries seccion blog*/
@media screen  and (max-width: 490px){
    .titulo-blog{
        width: 60% !important;
	    @include Flexbox(flex,center, none);
        .titulo{
            width: 100%;
            text-align: center;  
        }
    }

	.blog{
		width: 95%;

		.principal{
			width: 70%;
			height: 150px;
		}
	}
	#global {
		height: 150px;
		width: 100%;
		border: 1px solid #ddd;
		background: #f1f1f1;
		overflow-y: scroll;
	}
}
	/*fin queries seccion blog*/




.titulo-blog{
	width: 35%;
	margin-top: 2em;
	background-color: #EDEDED;
	border-radius: map-get($borders-standard, borders-radious );
    border: map-get($borders-standard,borders);
	@include Flexbox(flex,center, none);
}
.blog{
	@include Flexbox(flex,center, none);
	background-color: #ff6961;
	margin-top: 2em;
	padding: 2em;
	border-radius: map-get($borders-standard, borders-radious );
    border: map-get($borders-standard,borders);
	
	.principal{
		height: 300px;
	}
}


#global {
	height: 300px;
	width: 50%;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}
#mensajes {
	width: 100%;
}
.texto {
	padding:4px;
	background:#fff;
}
/*fin estilos seccion blog*/