@import"../base/mixins";
@media screen  and (max-width: 490px){
    .h2-container{
        display: none !important;
    } 
    .cachorros{
        display: none !important;
    }
}
.h2-container{
    @include Flexbox(flex,center);
    margin-top: 1.5em;

    .h2{
        padding: 0.5em;
    }
}

.cachorros{
    background-color: #fdfd96;
    padding: 3em 3em 3em 3em;
    border-radius: map-get($borders-standard, borders-radious );
    border: map-get($borders-standard,borders);

    .carta1{
        &:hover{
            border: #77dd77 0.2em solid;
        }
    }
}