/*estilos seccion cachorros*/
    /*queries seccion cachorros*/
@import "../base/mixins";
@media screen  and (max-width: 490px){
    .h2-container{
        display: none !important;
    } 
    .cachorros{
        display: none !important;
    }
}
/*fin queries seccion cachorros*/
.h2-container{
    @include Flexbox(flex,center, none);
    margin-top: 1.5em;

    .h2{
    width: 45%;
	margin-top: 0.5em;
	background-color: #EDEDED;
	border-radius: map-get($borders-standard, borders-radious );
    border: map-get($borders-standard,borders);
	@include Flexbox(flex,center, none);
        padding: 0.5em;
    }
}

.frase__container{
    width: 100%;
    margin-top: 2em;
    @include Flexbox(flex,center, none);
}

.frase{
    width: 80%;
    background-color: #fdfd96;
    padding: 1em 1em 0 1em;
    border-radius: map-get($borders-standard, borders-radious );
    border: map-get($borders-standard,borders);
    text-align: center;
    h2{
        margin-top: 0.3em;
    }
}
/*fin estilos seccion cachorros*/
