@import"../base/mixins";
@media screen  and (max-width: 490px){
    .h2-container{
        display: none !important;
    } 
    .cachorros{
        display: none !important;
    }
}
.h2-container{
    @include Flexbox(flex,center, none);
    margin-top: 1.5em;

    .h2{
    width: 45%;
	margin-top: 0.5em;
	background-color: #EDEDED;
	border-radius: map-get($borders-standard, borders-radious );
    border: map-get($borders-standard,borders);
	@include Flexbox(flex,center, none);
        padding: 0.5em;
    }
}

.cachorros-container{
    margin-top: 2em;
}

.cachorros{
    background-color: #fdfd96;
    padding: 3em 3em 3em 3em;
    border-radius: map-get($borders-standard, borders-radious );
    border: map-get($borders-standard,borders);

    .carta1{
        &:hover{
            border: #77dd77 0.2em solid;
        }
    }
}
