
.carrusel{
    padding-top: 1.5em;
    
}
.beneficios-container{
    padding-top: 1.5em;
    .beneficios{
        background-color: #EDEDED;
        padding: 1em;
        border-radius: 2em;
    }
}
