/*@media screen  and (max-width: 490px){
    .beneficios-container{
        width: 20% !important;
        display: flex;
        justify-content: flex-start;
        padding: none !important;
        margin-left: 0 !important;
        .beneficios{
            width: 100%;

        }

    } 
}*/
.carrusel{
    padding-top: 1.5em;
    
}
.beneficios-container{
    width: 80%;
    margin-left: 8em;
    padding-top: 1.5em;
    .beneficios{
        width: 100%;
        background-color: #EDEDED;
        border-radius: 2em;
        .icono-bene{
            margin-top: 1em;
        }
        
    }
}
