
.titulo__carrito--container{
    width: 40%;
    @extend %espacio;
    background-color: #EDEDED;
    border-radius: map-get($borders-standard, borders-radious);
    border: map-get($borders-standard,borders);
    .titulo__carrito{
        @include Flexbox(flex,center,none)
    }
}

.carrito__container--style{
    @include Flexbox(flex,space-around,none);
    @extend %espacio;
}

.Totales--style{
    padding: 0.5em;
    @include Flexbox(flex,space-around,none);
    background-color: #fdfd96;
    border-radius: map-get($borders-standard, borders-radious );
    border: map-get($borders-standard,borders);
    align-items: center;
    @extend %espacio;
    p{
        margin-top: 0.8em;
        font-size: 16px;
    }
}
.contenedor__btn2--style{
    @include Flexbox(flex,space-between,none);
    .boton2{
        width: 1.3em;
        height: 1.8em;
        background-color: #fdfd96;
        border-radius: 0.4em;
        box-shadow: 0 2px 4px 1px rgb(21 21 21);
        font-size: 1em;
        text-align: center;
        
        &:hover{
            background-color:#f3fd96c4;
            
        }
        &:active{
            font-size: 0.9em;
            
        }
    }  
}
.cantidad--producto{
    padding: 0.5em;
}
.contenedor__eliminar--style{
@include Flexbox(flex,space-between,none);
}

.btn__eliminar--style{
    width: 40%;
    font-size: 0.6em;
    
}