@import "../base/mixins";

/*estilos seccion carrusel*/
    /*queries seccion carrusel*/
@media screen  and (max-width: 490px){
    .carrusel{
        padding: 1em;
        margin-left: 0.1em;  
    } 
}
/*fin queries seccion carrusel*/
.border-carrusel{
    background-color: #77dd77;
    border: map-get($borders-standard,borders);
    border-radius: map-get($borders-standard, borders-radious);
    padding: 2em;
}
.carrusel{
    @extend %espacio;
    
}
/*estilos seccion carrusel*/
/*estilos seccion menu de beneficios*/
.beneficios-container{
    width: 100%;
    @include Flexbox(flex,center, none);
    padding-top: 1.5em;
    .beneficios{
        @include Flexbox(flex,space-between, none);
        width: 80%;
        padding-top: 1em;
        background-color: #EDEDED;
        border-radius: map-get($borders-standard, borders-radious);
        border: map-get($borders-standard,borders);
        .icono-bene{
            text-align: center;
            margin-top: 0.5em;
        }
        .txt-beneficios{
            margin-bottom: 0;
        } 
    }
}
/*fin estilos seccion menu de beneficios*/
