/* estilos del formulario de contacto*/
@media screen  and (max-width: 490px){
    .form-h1-container{
        width: 80% !important;
        .form-h1{
            font-weight: 700;
            font-size: 1.4em;
            font-family:sans-serif;
        }
    }
    .text-area-container{
        width: 90% !important;
        .text-area{
            width: 80% !important;
            .titulo1{
                margin-top: 0.5em;
                font-weight: 700;
                font-size: 1.2em;
                font-family:sans-serif;
            }
        }
    }
    .datos-container{
        width: 100% !important;
    }
    .datos-form{
        display: flex;
        flex-direction: column;
        .form-name,
        .form-email{
            width: 11em;
            @include Flexbox(flex,space-around,none);
            flex-direction:column;
            text-align: center;
        }
        
    }
    .btn-container{
        width: 25% !important;
    }
}
.contacto{
    margin-top: 3em;
    .form-container{
        @extend %espacio;
        display: grid;
        grid-template-areas: 
        "form-h1-container form-h1-container form-h1-container form-h1-container"
        "text-area-container text-area-container text-area-container text-area-container"
        "datos-container datos-container datos-container datos-container"
        "btn-container btn-container btn-container btn-container";
        grid-template-rows: 5em 10em 5em 5em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        row-gap: 2.5em;
        flex-wrap: wrap;

        .form-h1-container{
            grid-area: form-h1-container;
            width: 53%;
            @include Flexbox(flex,center,none);
            border-radius: map-get($borders-standard,borders-radious);
            background-color: #EDEDED;
            border: map-get($borders-standard,borders);
            opacity: 0.8;
            flex-wrap: wrap;
            align-items: center;
        }
        .form-name input[type="nombre"],
        .form-email input[type="email"]{
            border-radius: 0.3em;
            border: none;
            padding: 0.2em;
            box-shadow: 0 8px 12px 0 rgb(21 21 21);

        }

        .text-area-container{
            grid-area: text-area-container;
            @include Flexbox(flex,center,none);
            width: 60%;
            background: #77dd77;
            border: map-get($borders-standard,borders);
            opacity: 0.8;
            border-radius: map-get($borders-standard,borders-radious); 
            flex-wrap: wrap;  
        
            .text-area{
                width: 60%;

                .titulo1{
                    @include Flexbox(flex,center,none);
                } 
                .txt{
                    width: 100%;
                    @include Flexbox(flex,center,none);
                    
                    textarea{
                        width: 100%;
                        min-height: 6em;
                        resize: none;
                        border-radius: 0.5em;
                        flex-wrap: wrap;
                        box-shadow: 0 8px 12px 0 rgb(21 21 21);
                        
                    }
                } 
            }
        }
        .datos-container{
            grid-area: datos-container;
            width: 60%;
            @include Flexbox(flex,center,none);
            border-radius: map-get($borders-standard,borders-radious);
            background-color: #ff6961;
            border: map-get($borders-standard,borders);
            opacity: 0.8;
            
            .datos{
                width: 100%;
                @include Flexbox(flex,space-around,none);
                
                .datos-form{
                    width: 100%;
                    list-style: none;
                    @include Flexbox(flex,space-around,none);
                    padding: 1.6em;
                    flex-wrap: wrap;
                }
                
            }
        }
        .btn-container{
            grid-area: btn-container;
            width: 15%;
            border-radius: 1em;
            background-color: #fdfd96;
            border: map-get($borders-standard,borders);
            opacity: 0.8;
            @include Flexbox(flex,center,none);
            .btn5{
                cursor: pointer;
                margin-top: 1em;
                background-color: 
                #ff6961;
                border-radius: 0.5em;
                box-shadow: 0 4px 8px 0 rgb(21 21 21);
                &:hover{
                    background-color:#fc766f;
                }
                }
        } 
    }
}