/*estilos seccion footer*/
footer{
    min-height: 10%;
    width: 100%;
    @include Flexbox(flex,center,none);
    @extend %espacio;
    margin-bottom: 2em;
    background-color: #fdcae1;
    border-radius: map-get($borders-standard, borders-radious );
    border: map-get($borders-standard,borders);
    padding-top: 1em;

    .redes{
        @include Flexbox(flex,space-around, none);
    }
    .Copyright{
        @include Flexbox(flex,center,none);
        margin-top: 3em;
        margin-bottom: 0%;
        margin-left: 7em;
    }
    .bot{
        @include Flexbox(flex,flex-end, none);
        margin-right: 6em;
    }

}
/*fin estilos seccion footer*/

