
@media screen  and (max-width: 490px){
    .mobile-template{
        display:flex;
        .beneficios-container{
            width: 20%;
            margin-top: 4em;
            margin-left: 3em !important;
            .beneficios{
                padding-top: 3em;
                padding-bottom: 3em;
            }
        } 
        .cachorros-container{
            display: none !important;
        }
        .productos-seccion{
            width: 80%;

            .productos{
                width: 100%;
                background-color: #84b6f4;
                padding: 3em 3em 3em 3em;
                border-radius: map-get($borders-standard, borders-radious );
            }
        } 
    }  
}
    
    
.h2-container-promo{
    @include Flexbox(flex,center, none);
    @extend %espacio;                                                                                                              
}
    .productos1{
        margin-top: 2em;
        background-color: #84b6f4;
        padding: 3em 3em 3em 3em;
        border-radius: map-get($borders-standard, borders-radious );
        border: map-get($borders-standard,borders);
        @include Flexbox(flex,space-between, none);
    
        
        }
   

    .carta2{
        &:hover{
            border: #77dd77 0.2em solid;
            box-shadow: 0 8px 12px 0 rgb(21 21 21);
            
        }
    }  
    .boton1{
        background-color: #84b6f4;
        border-radius: 0.5em;
        box-shadow: 0 4px 8px 0 rgb(21 21 21);
        &:hover{
            background-color:#9ec6f8;
        }
    }   