/* estilos navbar*/
@import "../base/mixins";
@import "../base/mapas";
.navbar1{
    background-color: #ff6961;
    border-radius: map-get($borders-standard, borders-radious );
    border: map-get($borders-standard,borders);
}

.registro{
    margin-left: 3em;
}

.carrito--logo--style{
    margin-left: 3em;
    display: flex;
        .contador--carrito--style{
            display: flex;
            font-size: 1.5em;
        }
}
/*Fin estilos navbar*/